.addCampaign-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;

    .form-container {
        width: 40%;

        .button-container{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

